.formulario {
    display: flex;
    justify-content: center;
    margin: 200px 0;
    
}

.formulario form {
    background-color: rgb(0, 167, 173);
    border-radius: 30px;
    width: 50%;
    height: 50vh;
    padding: 40px;
}

.formulario h2 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


